:root {
	--text-color-black: #333;
	--white: #fdfdfd;
	--cerulean: #1679ab;
	--light-gray: #eeeeee;
	--blue-gray: #51829b;
	--yellow-orange: #f8b500;
	--yellow: #fff455;
	--light-yellow: rgba(254, 241, 188, 0.25);
	--white-blue: #f8f9fa;
	--silver: #dee2e6;
	--gray: #747474;
	--alice-blue: rgba(216, 224, 232, 1);
	--alice-blue-light: rgba(216, 224, 232, 0.4);
	--format-color: #333;
	--format-color: #333;
	--audience-color: #333;
	--language-color: #333;
	--dark-cerulean: #146590;
	/* --format-color: #eb7100;
	--format-color: #eb7100;
	--audience-color: #006a67;
	--language-color: #640d5f; */
}

/* Source: https://gwfh.mranftl.com/fonts */
/* dm-sans-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/dm-sans-v15-latin-regular.woff2') format('woff2');
}
/* dm-sans-800 - latin */
@font-face {
	font-display: swap;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/dm-sans-v15-latin-800.woff2') format('woff2');
}

/* playfair-display-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/playfair-display-v37-latin-regular.woff2') format('woff2');
}
/* playfair-display-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/playfair-display-v37-latin-600.woff2') format('woff2');
}

/* roboto-condensed-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/roboto-condensed-v27-latin-regular.woff2') format('woff2');
}

/* roboto-condensed-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/roboto-condensed-v27-latin-600.woff2') format('woff2');
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	font-size: 0.9rem;
	font-family: 'DM Sans', sans-serif;
	color: var(--text-color-black);
	-webkit-font-smoothing: antialiased;
}

a {
	color: var(--cerulean);
}

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	/* font-size: 1.7rem; */
	font-size: clamp(1.5rem, 1.4464rem + 0.2679vw, 1.6875rem); /* https://clamp.font-size.app/ */
}

h2 {
	font-family: 'Playfair Display';
	font-size: 1.3rem;
	font-weight: 600;
	margin-top: 1rem;
}

p {
	text-wrap: pretty;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	color: var(--text-color-black);
}

ul {
	list-style-position: outside;
	padding-left: 12px;
}

li {
	margin: 5px;
}

.tab {
	font-weight: 600;
	padding: 1px 5px;
	background-color: rgba(220, 220, 220, 0.75);
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 0.85rem;
}

.callout {
	border-radius: 3px;
	padding: 10px;
	font-size: 0.8rem;
	background-color: var(--light-yellow);
	background-color: var(--alice-blue-light);
}

/* Mapbox zoom controls */
.mapboxgl-ctrl-bottom-right > .mapboxgl-ctrl,
mapboxgl-ctrl-group,
.mapbox-ctrl-group:not(:empty) {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15) !important;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

/* POPUP */
/* Map popup */
.mapboxgl-popup {
	padding-top: 5px;
	padding-bottom: 5px;
}

.mapboxgl-popup-close-button {
	top: 0px !important;
	right: 0px !important;
	font-size: 1rem;
}

/* for touch screens */
@media (hover: none) {
	.mapboxgl-popup-close-button {
		/* top: 5px !important; */
		color: var(--text-color);
	}
}

.mapboxgl-popup-content {
	font-family: 'DM Sans', sans-serif;
	font-size: 0.9rem;
	padding: 0 !important;
	width: 260px;
}

.mapboxgl-container {
	cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
	margin-top: 3px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
	border-bottom-color: var(--text-color) !important;
	margin-bottom: 2px;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
	border-bottom-color: var(--text-color) !important;
	margin-bottom: 5px;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
	border-bottom-color: var(--text-color) !important;
	margin-bottom: 5px;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
	border-top-color: var(--text-color) !important;
	margin-top: 1px;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
	border-top-color: var(--text-color) !important;
	margin-top: 1px;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
	border-top-color: var(--text-color) !important;
	margin-top: 1px;
}

.popup-header {
	display: block;
	padding: 0.75rem 0.75rem 0.5rem 0.75rem;
	border-radius: 3px 3px 0 0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.2' baseProfile='tiny' viewBox='0 0 800 603' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cg%3E%3Cdefs%3E%3Cstyle%3E .nyc %7B fill: rgba(115, 144, 114, 0.25); stroke-width: 2px; stroke: rgba(115, 144, 114, 0.5); %7D %3C/style%3E%3C/defs%3E%3Cpath class='nyc' d='M 564.45 477.3 558.05 480.48 554.06 478.07 553.12 473 555.05 469.28 560.03 465.79 564.45 467.2 567.35 471.4 564.45 477.3 Z M 483.09 454.71 488.32 456.78 492.9 462.56 488.75 465.48 486.02 461.74 480.56 458.08 483.09 454.71 Z M 580.03 457.97 573.23 459.82 568.52 459.21 564.33 453.68 567.53 450.48 576.59 451.46 582.42 455.81 580.03 457.97 Z M 591.09 434.07 596.87 437.42 603.31 436.63 599.65 442.55 592.69 447.82 587.25 446.85 589.34 442.6 591.09 434.07 Z M 606.94 424 606.48 433.48 601.77 431.48 605.13 428.59 606.94 424 Z M 556.61 429.2 549.11 431.38 542.4 431.24 540.8 426.95 543.59 423.03 559.88 413.54 562 417.27 559.8 420.01 562.07 423.8 560.88 427.56 556.61 429.2 Z M 477.12 290.19 479.74 292 480.23 296.97 494.72 305.53 494.72 310.56 505.56 316.64 503.36 318.9 509.68 322.55 510.02 327.88 516.68 335.75 533.92 329.6 541.13 323.19 549.01 318.81 556.34 317.44 560.51 336.44 565.78 340.4 568.6 351.77 572.55 351.19 575.35 362.38 571.41 362.97 572.58 367.77 565.28 371.36 567.73 374.82 573.14 381.9 571.49 386.22 573.22 391.39 566.26 392.52 558.63 396.85 553.07 389.05 550.09 391.06 555.42 399.62 549.79 402.01 542.48 398.04 537.33 391.29 535.05 393.15 544.52 402.45 536.09 408.7 534.61 411.67 528.52 414.07 523.92 418.97 518.6 421.81 490.48 409.39 487.85 410.39 507.82 419.35 510.77 422.86 516.75 423.35 516.54 429.53 518.27 433.43 526.35 437.35 522.11 443.8 516.39 446.04 510.11 444.07 510.89 439.14 501.68 431.06 500.51 432.24 508.5 439.28 509.28 445.38 498.27 444.83 499.72 448.29 492.25 448.49 492.58 450.91 498.55 451.79 512.65 449.04 523.79 449.18 529.31 446.57 533.74 446.69 537.81 455.01 542.83 472.74 545.14 475.81 540.85 482.68 531.6 485.55 518.12 487.51 516.49 478.68 513.4 472.15 494.63 473.73 494.46 462.32 489.94 455.89 480.84 451.39 475.66 454.25 480.4 461.28 482.45 461.7 490.79 470.31 485.53 473.7 475.47 474.53 471.8 470.43 469.01 471.94 475.35 476.21 482.94 476.17 489.83 473.85 493.6 474.88 490.11 480.66 478.33 477.93 445.19 477.75 450.28 481.44 464.99 481.23 466.43 489.11 450.61 489.52 413.18 492.75 377.84 496.7 365.12 496.94 361.12 493.1 350.75 490.22 349.3 485.96 352.87 481.99 367.76 478.46 370.68 473.49 369.92 469.66 360.01 457.63 351.43 452.7 338.05 449.08 325.91 447.53 316.13 440.64 309.86 431.69 307.85 418.91 309.06 410.63 315.25 397.9 315.28 394.25 319.06 390.47 324.17 389.09 327.49 390.9 333.32 385.73 332.22 380.71 337.99 380.51 337.63 376.25 342.33 376.47 347.29 371.37 357.3 367.13 361.03 360.66 366.38 363.77 368.69 361.62 358.51 355.55 352.39 355.58 341.9 347.16 340.31 339.71 354.12 334.51 354.32 331.53 359.56 330.3 368.7 315.39 368.77 315.2 370.89 312.19 371.61 310.99 373.04 308.82 373.34 308.42 375.17 305.94 375.53 304.79 379.32 303.73 397.78 302.15 402.49 307.67 411.37 310.12 411.2 297.1 414.9 286.78 417.21 283.62 419.64 280.58 423.81 274.17 423.08 265.24 423.04 265.16 422.2 261.55 429.89 254.6 435.2 254.45 450.78 259.57 454.58 265.83 458.63 268.65 469.19 270.8 476.37 284.68 477.12 290.19 Z' fill-rule='evenodd' /%3E%3Cpath class='nyc' d='M 249.9 384.77 254.52 384.97 261.05 389.39 262.79 393.53 262.66 408.08 264.2 418.78 267.47 423.37 276.19 429.91 286.85 443.73 290.7 445.64 292.05 454.33 278.72 465.6 259.11 485.3 251.77 490.5 243.67 497.77 236.93 502.26 232.89 507.32 229.92 507.89 226.8 512.57 223.19 514.02 217.02 521.48 213.3 520.26 205.97 529.01 200.57 529.03 192.02 533.36 180.22 548.19 171.32 555.74 168.32 554.44 166.51 546.89 176.35 546.24 184.13 539.32 184.59 535.48 181.25 531.86 172.03 531.36 163.74 537.42 164.34 542.44 160.06 546.37 155.46 547.64 143.73 555.68 134.94 558.73 123.78 564.7 121.82 564.12 112.82 570.04 107.73 568.13 102.46 570.02 87.55 583.48 79.48 579.09 69.8 580.78 66.31 582.65 55.38 593.02 44.75 595.27 39.81 594.57 29.88 596.98 23.68 601.11 9.24 602.28 3.94 597.07 1.31 592.16 1 586.27 4.07 583.64 5.78 578.11 17 571.21 23.16 568.63 19.47 566.11 18.4 560.67 20.98 553.45 20.02 548.09 16.07 544.3 15.33 539.43 12.17 535.85 17.97 529.33 20.62 530.28 28.23 525.36 28.44 522.57 33.69 521.77 39.4 516.93 52.3 519.35 60.86 516.78 64.54 511.09 64.32 506.59 67.93 498.81 74.35 477.54 73.99 469.53 77.12 467.3 84.24 458.74 82.45 451.68 77.48 445.56 77.16 435.05 80.02 430.68 78.39 420.38 80.47 408.91 84.49 406.73 89.69 400.17 100.03 391.8 105.12 389.78 117.8 389.37 121.62 394.13 130.04 394.93 134.86 398.44 141.17 399.59 152.8 399.7 154.26 398.28 174.99 393.96 182.24 396.19 189.64 396.48 198.91 394.45 208.31 389.35 219.93 388.57 231.98 388.69 246.12 383.9 249.9 384.77 Z' /%3E%3Cpath class='nyc' d='M 343.95 320.03 350.51 323.2 349.09 327.49 335.32 333.05 330.41 329.96 338.98 321.91 343.95 320.03 Z M 310.62 309.19 313.83 311.41 308.16 315.56 305.27 313.31 310.62 309.19 Z M 451.63 211.27 436.2 228.44 434.59 225.01 447.43 210.28 451.63 211.27 Z M 481.03 165.57 482.5 167.69 489.48 171.01 491.85 174.68 489.93 178.27 485.09 181.99 476.51 192.2 470.75 194.08 461.37 191.21 460.38 187.37 471.08 176.55 472.21 169.49 475.37 163.92 479.17 164.11 481.03 165.57 Z M 473.75 55.28 479.54 56.51 482.08 61.93 488.2 59.73 496.39 62.93 495.84 67.44 491.69 73.77 481.31 84.11 468.99 101.81 461.52 116.18 463.14 142.15 462.35 153.06 469.97 165.24 469.97 171.45 468.3 174.56 460.21 179.59 454.47 187.98 448.98 191.71 451.34 201.01 433.5 221.13 426.66 227.34 417.83 237.13 408.4 249.08 407.54 259.03 404.74 259.73 406.21 265.52 408.99 268.44 406.82 280.77 401.88 293.36 399.25 295.38 385.02 297.31 384.2 296.14 371.92 297.92 352.05 309.17 346.26 309.26 340.23 301.75 344.01 283.71 349.03 284.15 351.66 269.91 353.08 254.18 351.64 250.38 354.35 247.72 353.72 240.17 357.07 232.48 363.51 222.71 369.23 218.22 372.94 210.72 420.59 142.82 428.44 134.08 426.12 132.75 429.42 127.84 432.61 127.41 439.54 117.51 442.11 109.53 445.42 103.73 444.09 94.64 451.53 89.4 465.1 69.72 465.83 64.6 470 57.98 473.75 55.28 Z M 500.96 61.13 489.01 58.01 493.72 54.87 500.69 55.55 501.57 56.32 501.89 56.76 500.96 61.13 Z' fill-rule='evenodd' /%3E%3Cpath class='nyc' d='M 550.66 186.95 550.64 186.96 542.85 187.83 528.48 185.46 522 177.12 523.48 171.43 530.09 169.24 534.79 172.84 543.45 174.96 553.07 181.16 550.66 186.95 Z M 670.84 82.4 672.65 89.97 681.95 97 679.1 104.08 681.87 108.2 681.38 112.7 678.2 114.03 673.6 109.79 667.6 99.55 670.07 95.63 666.77 85.6 670.84 82.4 Z M 701.57 88.58 699.04 98.42 694.91 92.5 695.31 80.61 697.24 80.45 705.16 87.71 701.57 88.58 Z M 500.96 61.13 501.89 56.76 501.57 56.32 500.69 55.55 493.72 54.87 489.01 58.01 483.26 57 477.79 53.36 477.48 51.39 482.11 41.54 493.51 11.53 497.16 1 536.06 12.59 569.92 22.38 578.53 12.3 583.27 12.34 595.9 17.13 598.97 23.84 600.7 31.54 621.35 37.63 629.1 37.71 665.4 47.03 659.04 58.85 648.26 68.67 652.84 71.38 658.7 62.78 662.84 61.63 665.98 52.35 675.31 53.21 677.38 57.52 673.84 62.26 679.51 64.89 675.94 67.36 668.62 68.67 666.43 73.18 667.57 77.22 656.73 89.14 657.95 94.11 655.21 97.4 649.36 90.16 650.27 86.84 648.69 80.64 643.43 81.02 639.77 77.24 633.66 76.2 637.07 82.21 637.68 88.98 631.78 89.09 630.63 92.33 636.02 104.07 633.21 105.89 634.12 110.65 631.72 112.53 633.11 120.39 637.18 127.2 636.29 132.36 645.31 130.41 647.13 137.81 658.82 143.08 655.2 146.65 648.51 149.51 651.98 152.38 657.46 153.02 669.63 159.02 664.85 160.76 652.84 153.8 649.53 154.22 641.1 148.22 631.68 146.89 617.56 150.58 613.2 150.69 609.09 155.38 609.83 159.68 601.57 157.88 597.52 150.35 598.55 144.07 594.88 140.85 589.02 151.46 584.91 149.38 583.57 154.47 587.13 158.97 583.31 160.28 575.11 160.31 571.85 158.94 568.67 153.14 558.15 151.59 557.5 157.1 552.28 164.57 543.09 164.9 541.55 162.78 533.16 163.73 528.99 159.61 523.21 157.62 514.14 158.04 505.18 162.24 499.76 168.29 494.89 171.65 482.61 167.35 481.04 164.95 478.75 163.39 471.99 162.92 465.3 154.78 465.04 135.79 463.4 119.69 464.28 115.54 470.57 102.61 479.27 90.38 496.01 72.06 498.85 63.13 500.96 61.13 Z' fill-rule='evenodd' /%3E%3Cpath class='nyc' d='M 609.48 463.55 610.58 466.37 607.12 469.89 597.16 466.77 592.86 461.2 597.07 458.02 601.54 458.65 606.51 463.31 609.48 463.55 Z M 641.03 454.04 638.73 456.81 633.84 451.01 634.83 447.74 640.94 450.33 641.03 454.04 Z M 654.9 443.99 659.21 448.3 651.87 448.07 654.9 443.99 Z M 604.01 445.82 605.97 442.86 611.96 442.49 610.63 446.6 604.01 445.82 Z M 703.21 433.66 705.52 436.82 713.62 439.27 719.2 439.6 733.28 436.91 736.68 443.4 744.11 450.45 744.45 461.96 732 462.33 724.76 466.62 718.69 467.25 710.9 466.03 701.14 467.45 687.89 468.37 643.76 477.13 635.93 477.88 606.7 486.25 601.07 488.73 573.17 498.53 545.81 507.15 539.82 509.49 516 516.07 504.77 516.98 453.54 536.23 454.13 521.04 456.15 517.82 466.03 514.62 474.1 509.38 486.31 507.55 494.15 504.35 502.84 507.75 509.37 507.65 517.24 503.91 521.54 499.55 526.63 500.2 546.19 497.93 561.19 490.57 579.13 481.07 582.88 479.81 598.9 480.2 614.38 475.9 621.94 472.14 624.53 473.15 643.8 463.26 651.16 455.76 663.68 454.88 670.92 457.18 679.06 450.46 678.41 447.15 686.15 440.28 692.47 441.71 689.79 450.51 681.26 455.54 694.13 457.19 696.8 455.05 697.64 447.31 699.74 440.32 693.05 437.97 693.38 434.7 703.21 433.66 Z M 703.17 432.58 697.2 431.35 702.11 424.67 703.17 432.58 Z M 606.97 423.42 607.05 421.67 607.12 420.24 607.14 419.75 608.98 420.04 606.97 423.42 Z M 657.05 417.75 657.26 420.47 652.67 430.05 650.16 431.12 646.15 423.81 646.81 420.55 653.02 417.36 657.05 417.75 Z M 606.48 433.48 606.94 424 610.87 418.83 608.7 414.52 610.53 407.63 607.36 398.82 615.01 402.59 622.64 403.03 626.71 414.37 632.04 418.67 628.55 421.26 630.67 426.46 630.76 432.18 634.14 441.42 630.57 448.48 628.79 455.02 624.9 461.74 618.75 461.21 607.63 462.45 608.82 457.3 615.04 457.47 622.39 450.43 624.81 443.87 618.64 433.84 610.13 432.58 606.48 433.48 Z M 565.28 371.36 572.58 367.77 571.41 362.97 575.35 362.38 572.55 351.19 568.6 351.77 565.78 340.4 560.51 336.44 556.34 317.44 549.01 318.81 541.13 323.19 533.92 329.6 516.68 335.75 510.02 327.88 509.68 322.55 503.36 318.9 505.56 316.64 494.72 310.56 494.72 305.53 480.23 296.97 479.74 292 477.12 290.19 479.6 287.37 475.56 278.35 476.93 275.59 470.66 270.46 459.27 267.82 455.49 265.38 451.63 258.8 437.09 253.74 429.12 253.65 424.44 255.76 421.99 253.47 427.27 245.89 429.73 240.18 437.96 232.05 449.18 217.8 454.45 212.79 461.06 210.36 457.86 206.26 457.59 202.59 461.28 198.48 468.76 200.96 475.95 197.5 487.5 188.07 493.58 182.06 497.52 179.8 511.22 182.59 517.68 188.03 517.34 190.99 523.66 194.33 526.84 204.82 534.22 203.89 533.33 195.62 538.42 194.67 542.81 191.18 547.38 193.36 552.99 186.85 555.62 190.37 551.11 194.35 576.26 206.74 572.49 212.37 565.29 214.39 570 220.7 581.24 225.19 585.41 224.07 591.98 219.76 592.22 216.37 586.67 214.53 583.6 206.94 585.02 198.46 581.75 192.08 575.78 192.55 570.4 187.34 576.64 183.2 579.55 174.86 585.37 173.38 591.4 174.15 600.19 171.46 602.73 177.55 601.87 181.71 609.21 182.93 609.75 179.72 615.43 176.43 614.17 171.86 619.1 170.68 626.89 165.64 632.44 168.95 648.73 172.35 654.41 172.03 663.58 175.32 664.29 182.43 669.32 180.71 675.93 180.67 682.54 178.75 681.88 173.03 686.58 171.5 692.7 175.42 697.55 183.37 692.6 187.03 701.1 196.4 706.83 205.83 714.54 212.51 720.1 215.51 719.19 207.7 722.36 205.29 719.81 200.69 721.58 195.85 726.89 192.08 731.7 197.14 735.75 197.56 796.68 235.05 799 254.1 788.02 270.48 774.7 272.56 762.15 275.93 755.46 278.63 760.28 295.07 762.21 339.79 759.44 347.59 758.41 358.7 758.9 365.42 763.13 376.19 762.79 379.43 748.55 382.69 739.5 386.77 737.64 399.16 731.63 401.1 723.4 405.85 703.63 413.41 700.53 420.94 697.14 421.95 689.06 414.41 684.85 414.89 676.68 427.35 682.28 435.01 669.79 441.24 654.65 437.41 656.71 431.88 659.27 430.2 663.46 421.61 670.81 421.17 679.37 412.54 677.85 409.06 666.53 402.58 645.73 394.12 638.07 390.49 628.32 387.2 623.53 382.11 621.71 373.65 619.55 374.16 621.63 381.62 617.69 384.66 610.12 385.34 603.68 383.24 599.48 365.92 597.92 365.2 603.75 388.77 589.56 390.78 584.23 390.73 580.05 386.06 582.69 381.8 574.67 380.16 565.28 371.36 Z' fill-rule='evenodd' /%3E%3C/g%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: right 15px bottom -5px;
}

.popup-body {
	padding: 0.5rem 0.75rem 0.25rem 0.75rem;
}

.popup-outlet-name {
	font-size: 1.4rem;
	font-weight: 600;
	font-family: 'Playfair Display', serif;
	line-height: 1.15;
	margin-bottom: 0.25rem;
}

.popup-location {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 0.8rem;
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: 500;
}

/* .popup-header {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
} */

.popup-body > .popup-row {
	display: flex;
	justify-content: space-between;
	align-items: start;
	line-height: 1.1;
	font-size: 0.85rem;
}

.popup-category-label {
	font-family: 'Roboto Condensed', sans-serif;
	/* font-weight: 700; */
	/* font-size: 0.75rem; */
	/* text-transform: uppercase; */
	color: var(--gray);
	display: flex;
	align-items: center;
	gap: 3px;
}

.popup-category-value {
	font-weight: 400;
	/* font-size: 0.85rem; */
	text-align: right;
}

.popup-link-btn {
	text-align: center;
	height: 100%;
	cursor: pointer;
	font-size: 0.75rem;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: none;
	padding: 3px 0;
	display: block;
	border-radius: 3px;
	margin: 0.5rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.popup-link-btn:hover {
	background-color: #f9f9f9;
	transition: 0.5s;
}

.popup-footer {
	font-size: 0.75rem;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 0.15rem 0.75rem;
	border-radius: 0 0 3px 3px;
}

/* remove geocoder from mobile */
/* @media screen and (max-width: 480px) {
  .mapboxgl-ctrl-geocoder {
    display: none;
  }
}

@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .mapboxgl-ctrl-geocoder {
    display: none;
  }
} */

hr {
	border: 0;
	height: 0;
	border-top: 0.5px solid rgba(0, 0, 0, 0.1);
	margin: 1.5rem 0;
}

hr.outlet-card-divider {
	margin: 0.25rem 0;
}

.selected-filter-tag {
	padding: 2px 6px;
	border-radius: 2px;
	background-color: var(--light-yellow);
	border: 1px solid rgba(248, 181, 0, 0.45);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 3px;
}

.filter-field-label {
	display: flex;
	align-items: center;
	gap: 3px;
}

.filter-field-description {
	font-family: 'DM Sans', sans-serif;
	text-transform: none;
	display: block;
	font-weight: 400;
	font-size: 0.8rem;
	color: #404040;
}

/* Search tab */
.filter > form > label {
	display: block;
	margin-bottom: 3px;
}

/* reset filter or selected outlet */
.reset-container button {
	padding: 2px 5px;
	background-color: rgba(249, 232, 151, 0.5);
	border: 1px solid var(--yellow);
	border-radius: 3px;
	display: flex;
	gap: 5px;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;
}
